{
    "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "semi": 2,
        "sort-keys": "error",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-props-no-spreading": 0,
        "import/extensions": [1, "always"],
        "jsx-a11y/href-no-hash": ["off"],
        "max-params": [2],
        "max-len": [
            "warn",
            {
                "code": 120,
                "comments": 120,
                "ignoreComments": false,
                "ignoreTrailingComments": true,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true
            }
        ]
    }
}
